@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>MiniProj</h1>
    <p class="lead">Här kan du finna övningar för barn med läs- och skrivsvårigheter. Se gärna:</p>
    <div class="row btn-group">
        <a class="btn btn-lg btn-primary" href="~/Text2Color">Öva Färgnamn</a>
        <a class="btn btn-lg btn-primary" href="~/Images">Skriv Rätt</a>
        <a class="btn btn-lg btn-primary" href="~/Sentences/Random">Stava Rätt</a>
        <a class="btn btn-lg btn-primary" href="~/Uppgift2/Test">Lär Dig Skiljetecken</a>
        <a class="btn btn-lg btn-primary" href="~/Questions">Utmaningen</a>
    </div>
</div>