@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MiniProj</h1>
    <p class="lead">Här kan du finna övningar för barn med läs- och skrivsvårigheter. Se gärna:</p>
    <div class="btn-group">
        <a href="~/Text2Color/" class="btn btn-primary btn-lg">Text2Color</a><a href="~/Images/" class="btn btn-primary btn-lg">ImgText</a>
    </div>
</div>