@{
    ViewBag.Title = "Utmaningen";
}

<h2>Utmaningen</h2>

<div ng-app="app">
    <div ng-controller="challange" ng-init="getHighscores()">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Highscores</h2>
            </div>
            <table class="table table-condensed table-striped" ng-cloak="highscores">
                <tr>
                    <th>Användarnamn</th>
                    <th>Poäng</th>
                    <th>Datum</th>
                </tr>
                <tr ng-repeat="highscore in highscores">
                    <td ng-bind="highscore.Username"></td>
                    <td ng-bind="highscore.Points"></td>
                    <td ng-bind="highscore.Time.slice(6, -2) | date : medium"></td>
                </tr>
            </table>
        </div>
        <div class="panel panel-default" ng-repeat="question in questions">
            <div class="panel-heading">Fråga #{{$index}}</div>
            <div class="panel-body">
                <p ng-bind="question.theQuestion"></p>
            </div>
            <label ng-repeat="(key, value) in options"><input type="checkbox" ng-model="value" class="list-group-item"> />{{key}}</label>
        </div>
    </div>
</div>
<script src="~/Scripts/angular.js"></script>
<script>
    "use strict";
    angular.module('app', []).controller('text2color', function ($scope, $http) {

        function getHighscores() {
            $http.get('/Challange/Highscores/')
                .then(function (response) {
                    console.log("Success getting Highscores");
                    console.log(response.data);
                    $scope.highscores = response.data;
                }
            )
        }

        function getQuestionsAndOptions(category) {

            $http({
                url: '/Challange/RandomQuestions/',
                method: "GET",
                params: { category: category }
            }).

            then(
                function (response) {
                    console.log("Success getting Highscores");
                    console.log(response.data);
                    $scope.questions = response.data;
                },
                function (response) {
                    console.log("Error getting Highscores");
                    console.log(response.data);
                }
            );
        }

        $scope.getHighscores = getHighscores;
        $scope.getQuestionsAndOptions = getQuestionsAndOptions;
    });
</script>