@model IEnumerable<Miniprojekt.Models.Text2Color.Highscore>

@{
    ViewBag.Title = "Index";
}


<div ng-app="app">
    <div ng-controller="text2color">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Highscores</h2>
            </div>
            <table class="table table-condensed table-striped">
                <tr>
                    <th>
                        Användarnamn
                    </th>
                    <th>
                        Poäng
                    </th>
                    <th>
                        Datum
                    </th>
                </tr>
                <tr ng-repeat="highscore in highscores">
                    <td ng-bind="highscore.Username"></td>
                    <td ng-bind="highscore.Points"></td>
                    <td ng-bind="highscore.Time.slice(6, -2) | date : medium"></td>
                </tr>
            </table>
        </div>
        <style>
            .no-gutter [class*="col-"] {
                padding: 0 !important;
            }
        </style>
        <div class="row no-gutter">
            <h3 ng-bind="colors[active].Name"></h3>
            <h4>Rätta svar: {{correctCount}}, Felaktiga: {{wrongCount}}</h4>
            <div class="col-xs-4" ng-repeat="color in colors">
                <div class="hover-show" ng-click="$index == active ? correct() : wrong()" style="background-color: {{color.HexValue}}">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/angular.js"></script>
<script>
    angular.module('app', []).controller('text2color', function ($scope, $http) {

        function postResult() {
            var data = {
                Username: prompt("Ange Användarnamn:"),
                Points: $scope.correctCount * 100 / ($scope.wrongCount + 1)
            };
            console.log("Posing Values...")
            console.log(data);
            $http.post('/Text2Color/NewHighscore/', data);
        }

        function correct() {
            $scope.colors.splice($scope.active, 1);
            $scope.correctCount++;
            $scope.active = Math.floor(Math.random() * $scope.colors.length);
            if ($scope.colors.length < 1)
                postResult();
        }

        function wrong() {
            $scope.wrongCount++;
        }

        $scope.correctCount = 0;
        $scope.wrongCount = 0;

        $scope.correct = correct;
        $scope.wrong = wrong;

        $http.get('/Text2Color/Highscores/')
            .then(function (response) {
                console.log("Success getting Highscores");
                console.log(response.data);
                $scope.highscores = response.data;
            });

        $http.get('/Text2Color/Colors/')
            .then(function (response) {
                console.log("Success getting Colors");
                console.log(response.data);
                $scope.colors = response.data;
                $scope.active = Math.floor(Math.random() * response.data.length);
            });

    });
</script>