@model IEnumerable<Miniprojekt.Models.Text2Color.Highscore>

@{
    ViewBag.Title = "Index";
}


<div ng-app="app">
    <div ng-controller="text2color">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Highscores</h2>
            </div>
            <table class="table table-condensed table-striped">
                <tr>
                    <th>
                        Användarnamn
                    </th>
                    <th>
                        Poäng
                    </th>
                    <th>
                        Datum
                    </th>
                </tr>
                <tr ng-repeat="highscore in highscores">
                    <td ng-bind="highscore.Username"></td>
                    <td ng-bind="highscore.Points"></td>
                    <td ng-bind="highscore.Time.slice(6, -2) | date : medium"></td>
                </tr>
            </table>
        </div>
        <style>
            .colors > div {
                border: .125em solid black;
                border-top: none;
                border-left: none;
                padding: 0 !important;
            }
            .colors > div:nth-child(3n + 1) {
                border-left: .125em solid black;
            }
            .colors > div:nth-child(-n + 3) {
                border-top: .125em solid black;
            }
        </style>
        <div class="row text-center">
            <h3 ng-bind="colors[active].Name"></h3>
            <h4>Rätta svar: {{correctCount}}, Felaktiga: {{wrongCount}}</h4>
            <div class="colors">
                <div class="col-xs-4" ng-repeat="color in colors">
                    <div ng-click="$index == active ? correct() : wrong()" style="height: 10vw; background-color: {{color.HexValue}}">&nbsp;</div>
                </div>
            </div>
        </div>
        <h4 class="text-center">Färger:</h4>
        <ul class="list-group row">
            <li ng-repeat="color in colors | orderBy: 'Name'" ng-bind="color.Name" class="list-group-item col-xs-6"></li>
            <li ng-repeat="color in removedColors" ng-bind="color.Name" class="list-group-item col-xs-6" style="background-color: lightblue"></li>
        </ul>
    </div>
    <script src="~/Scripts/angular.js"></script>
    <script>
        angular.module('app', []).controller('text2color', function ($scope, $http) {

            $scope.colors = [];
            $scope.removedColors = [];
            $scope.highscores = [];

            getColors();
            getHighscores();

            $scope.correctCount = 0;
            $scope.wrongCount = 0;

            function postResult() {
                var data = {
                    Username: prompt("Ange Användarnamn:"),
                    Points: $scope.correctCount * 100 / ($scope.wrongCount + 1)
                };
                console.log("Posing Values...")
                console.log(data);
                $http
                    .post('/Text2Color/NewHighscore/', data)
                    .then(function successCallback(response) {
                        console.log(response);
                        getHighscores();
                    }, function errorCallback(response) {
                        console.log(response);
                    });
            }

            function correct() {
                $scope.removedColors.push($scope.colors.splice($scope.active, 1)[0]);
                $scope.correctCount++;
                $scope.active = Math.floor(Math.random() * $scope.colors.length);
                if ($scope.colors.length < 1) {
                    postResult();
                    getHighscores();
                }
            }

            function wrong() {
                $scope.wrongCount++;
            }

            function getHighscores() {
                $http.get('/Text2Color/Highscores/')
                    .then(function (response) {
                        console.log("Success getting Highscores");
                        console.log(response.data);
                        $scope.highscores = response.data;
                    }
                )
            }

            function getColors() {
                $http.get('/Text2Color/Colors/')
                    .then(function (response) {
                        console.log("Success getting Colors");
                        console.log(response.data);
                        $scope.colors = response.data;
                        $scope.active = Math.floor(Math.random() * response.data.length);
                    }
                )
            }

            $scope.correct = correct;
            $scope.wrong = wrong;
        });
    </script>
